@import "tailwindcss";


@theme {
    --brand-red: #f12f29;
    --brand-orange: #f9c83d;
    --brand-orange-2: #fab233;
    --brand-black: #1e1e1e;
    --brand-fire: #e62d39;
    --brand-white: #ffffff;
}